@using Walter.Core.DTO_s.Post;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using X.PagedList;
@model IPagedList<PostDto>


   
<div class="container-fluid navbg colortextnav">
    <div class="row text-center">
        <div class="col">
            <h1>Walter</h1>

            <div class="col">
                <ul class="list-inline">
                     @foreach (var item in Model)
                        {
                        
                        <li class="list-inline-item "><a asp-controller="Home" asp-action="PostsByCategory" asp-route-id="@item.CategoryId" class="btn btn-default btn-sm">@item.CategoryName</a></li>
                        }
                </ul>
            </div>
        </div>
    </div>
</div>
                        
