



<div class="container-fluid navbg colortextnav">
    <div class="row text-center">
        <div class="col">
            <h1>Walter</h1>

            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item "><a class="ref" href="#">Sport</a></li>
                    <li class="list-inline-item"><a  class="ref" href="#">IT</a></li>
                    <li class="list-inline-item"><a class="ref" href="#">Politic</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

